In [2]:
import pandas as pd

In [ ]:
data = pd.read_excel('data/fs-account.xlsx', dtype = str)

In [ ]:
# 금융기업 필터링
dart_code_list = pd.read_json('data/dart_code_list.json', dtype = str)
finance_name = ['스팩', '은행', '증권', '신탁', '손해', '투자']
fin_idx = dart_code_list['정식명칭'].apply(lambda x : any(nm in x for nm in finance_name))
fin_corp = dart_code_list[fin_idx]['고유번호']
fin_con = data['corp_code'].isin(fin_corp)

NameError: name 'data' is not defined

In [195]:
# 2542개 기업
len(data.loc[~fin_con, 'corp_code'].unique())

2542

In [228]:
# ifrs-full-assets : 2539개 기업
con1 = data['sj_div'] == 'BS'
con2 = data['account_id'] == 'ifrs-full_Assets'
data.loc[con1 & con2 & ~fin_con, :]

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_amount,ord,currency,thstrm_add_amount,fs_div
0,20240102000351,11011,2023,1170962,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 11 기,8.198529e+09,제 10 기,7.337909e+09,제 9 기,4.823417e+09,7,CNY,NaN,CFS
135,20240426000544,11011,2023,1139266,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 12 기,2.301814e+09,제 11 기,1.537531e+09,제 10 기,1.520919e+09,7,CNY,NaN,CFS
292,20230629000113,11011,2023,938688,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 12 기,4.779969e+10,제 11 기,4.333233e+10,제 10 기,3.617916e+10,17,JPY,NaN,CFS
497,20240422000050,11011,2023,1107665,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 12 기,2.244691e+09,제 11 기,2.210623e+09,제 10 기,1.912752e+09,7,CNY,NaN,CFS
617,20240328000298,11011,2023,261735,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 29 기,1.091117e+10,제 28 기,1.179528e+10,제 27 기,1.346246e+10,7,KRW,NaN,OFS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461232,20240523000216,11011,2023,633835,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 17 기,2.890585e+12,제 16 기,2.567697e+12,제 15 기,2.385236e+12,7,KRW,NaN,CFS
461419,20240321001187,11011,2023,317104,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 42 기,1.709543e+11,제 41 기,1.518380e+11,제 40 기,1.408103e+11,7,KRW,NaN,CFS
461563,20240321001310,11011,2023,651901,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 17 기,1.358083e+12,제 16 기,1.227883e+12,제 15 기,1.009737e+12,7,KRW,NaN,OFS
461689,20240320001571,11011,2023,661847,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 17 기,1.902960e+11,제 16 기,1.796229e+11,제 15 기,1.832389e+11,7,KRW,NaN,CFS
461828,20240328001643,11011,2023,1428203,BS,재무상태표,ifrs-full_Assets,자산총계,-,제 4 기,2.223680e+12,제 3 기,2.209565e+12,제 2 기,1.877935e+12,7,KRW,NaN,CFS

In [229]:
# CashAndCashEquivalents
# BS 기준으로 2,515개 기업이 있음
con1 = data['account_id'] == 'ifrs-full_CashAndCashEquivalents'
con2 = data['sj_div'] == 'BS'
data.loc[con1 & con2 & ~fin_con, :].groupby('corp_code').count()

cash_corp_code = data.loc[con1 & con2 & ~fin_con, 'corp_code'].unique()

In [230]:
# 재고자산 : 2,311
con1 = data['sj_div'] == 'BS'
con2 = data['account_id'].str.contains('ifrs-full_Inventories') 
con3 = data['account_id'].str.contains('-표준계정코드 미사용-') & (data['account_nm'] == '재고자산')
data.loc[con1 & (con2 | con3) & ~fin_con, ['corp_code']].drop_duplicates()

inv_corp_code = data.loc[con1 & (con2|con3) & ~fin_con, 'corp_code'].unique()

In [231]:
# 유동자산 : 2,506
con1 = data['sj_div'] == 'BS'
con2 = data['account_id'].str.contains('ifrs-full_CurrentAssets')
data.loc[con1 & con2 & ~fin_con, :].drop_duplicates()

ca_corp_code = data.loc[con1 & con2 & ~fin_con, 'corp_code'].unique()

In [232]:
# 비유동자산 : 2,502
con1 = data['sj_div'] == 'BS'
con2 = data['account_id'] == 'ifrs-full_NoncurrentAssets'
data.loc[con1 & con2 & ~fin_con, :].drop_duplicates()

nca_corp_code = data.loc[con1 & con2 & ~fin_con, 'corp_code'].unique()

In [233]:
# 매출채권 : 2,481
# ifrs만 있으면 ifrs
# dart_shortTerm이 같이 있으면 dart_shortTerm
con1 = data['sj_div'] == 'BS'
con2 = data['account_id'].str.contains('ifrs-full_TradeAndOtherCurrentReceivables')
con3 = data['account_id'].str.contains('ifrs-full_TradeReceivables')
con4 = data['account_id'].str.contains('ifrs-full_CurrentTradeReceivables')
con5 = data['account_id'].str.contains('dart_ShortTermTradeReceivable')
con6 = data['account_id'].str.contains('-표준계정코드 미사용-') & data['account_nm'].str.contains('매출채권')

data[con1 & (con2 | con3 | con4 | con5 | con6) & ~fin_con].groupby('corp_code').count().sort_values('reprt_code', ascending=False)

rcvb_corp_code = data.loc[con1 & (con2 | con3 | con4 | con5 | con6) & ~fin_con, 'corp_code'].unique()

In [239]:
c = set(cash_corp_code)
ca = set(ca_corp_code)
nca = set(nca_corp_code)
rcvb = set(rcvb_corp_code)
inv = set(inv_corp_code)
corp_code = c & ca & nca & rcvb & inv

In [241]:
dart_code_list[dart_code_list['고유번호'].isin(corp_code)].to_excel('data/etf_fs_target_company.xlsx', index = False)